/**
 * @name Itachi Discord Theme
 * @author sleep Br.Sra#4828
 * @version 1.0.0
 * @description A cool, Itachi theme.
*/

@import url("https://discordstyles.github.io/RadialStatus/base.css");
@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
    --avatar-size: 42px;
    --background-image: url('https://thumbs.gfycat.com/CalculatingUnknownDobermanpinscher-small.gif');
    --home-image: url('https://i.pinimg.com/originals/97/f4/2c/97f42c2c17480566c56c7004d56f9a44.gif');
    --background-solid: #000000;
    --background-solid-dark: #000000;
    --background-solid-darker: #000000;
    --accent: 0, 0, 0;
    --accent-alt: 0, 0, 0;
    --rs-small-spacing: 2px;  /* spacing between avatar and status */

  --rs-large-spacing: 3px;  /* spacing between avatar and status for user popouts & modals/profiles | MUST end in px */
  --rs-width: 2px;  /* Width/thickness of status border */
  --rs-avatar-shape: 50%;  /* 50% for round - 0% for square */
  --rs-online-color: #f3f6f5;  /* color for online status */
  --rs-idle-color: #ffdca2;  /* color for idle status */
  --rs-dnd-color: #f04747;  /* color for dnd status */
  --rs-offline-color: #000000;  /* color for offline status */
  --rs-streaming-color: #643da7;  /* color for streaming status */
  --rs-invisible-color: #747f8d;  /* color for invisible status - Note this will only show for your own invisibility */
}
